.conter-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 100px;
}
.contenr-blog {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.conter_left_list {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 65px;
}
.conter_left {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.conten_blog_item {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: var(--bgbg-white, #fff);
}
.border {
  border: none !important;
}
.conten_blog_item :last-child {
  /* margin-bottom: 0px; */
}
.conten_blog_item img.blog_item {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}
.img_blog-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_blog-left img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 10px;
}
.img_blog-left p.text_item {
  color: var(--text-text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Link */
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.img_blog-left .text_right {
  color: var(--text-text, #7b88a8);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 6 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.4px;
}
.header__navbar-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_text {
  color: var(--text-heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 2 */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px; /* 127.778% */
  letter-spacing: -1px;
  margin: 30px 40px 30px 40px;
}
.text_blog_p {
  color: var(--text-text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 0 40px 0 40px;
}
.text_blog_p span {
  color: var(--Action-Blue, #4f77ff);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.margin {
  margin: 30px 0 40px 0;
  color: var(--Text-Heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 1 */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.3px;
  border-radius: 5px;
  background: var(--BG-BG-Light, #f8fafc);
  padding: 30px 10% 030px 10%;
}
.ul_blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
  margin: 50px 0 20px 0;
}
.ul_blog ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ul_blog ul li.ul_blog_item {
  color: var(--Text-Text-White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.3px;
  display: inline-flex;
  padding: 0px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--Action-Blue, #4f77ff);
}
.icon_ul .ul_icon_item img {
  width: 30px;
  height: 30px;
}
.Related_Articles {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: var(--BG-BG-Light, #f8fafc);
  padding-left: 40px;
  padding-top: 20px;
}
.Related_Articles h3 {
  color: var(--Text-Heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 4 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.4px;
}
.Related_Articles_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.row {
  flex-direction: row;
}
.Related_Articles_item {
  display: flex;
  width: 230px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}
.Related_Articles_item img {
  width: 100%;
  height: 100%;
}
.Related_Articles_item p {
  color: var(--Text-Heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 1 */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.3px;
  padding-bottom: 50px;
}
.Comments {
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 40px;
  border: 1px solid var(--Lines-HR-Line, rgba(97, 119, 152, 0.2));
  background: var(--BG-BG-White, #fff);
  margin-top: 48px;
  margin-bottom: 120px;
}
.Comments h3 {
  color: var(--Text-Heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 4 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.4px;
  padding-bottom: 30px;
  border-bottom: 1px solid #617798;
  margin-bottom: 20px;
}
.Comments_accer_list {
  width: 100%;
}
.Comments_accer_item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.Comments_accer_item img.Comments_accer_img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.Comments_accer_name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Comments_accer_name .name_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.Comments_accer_name .name_list .name {
  color: #333;
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.Comments_accer_name .name_list .time {
  color: var(--Text-Text, #7b88a8);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 6 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.4px;
  opacity: 0.7;
}
.Comments_accer_name .as_young {
  color: var(--Text-Text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 43px;
}
.Comments_accer_name .reply {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Comments_accer_name .reply img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Comments_accer_name .reply p {
  color: var(--Action-Blue, #4f77ff);
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.Comments_accer_item:nth-child(1) {
  border-bottom: 1px solid #617798;
  margin-bottom: 20px;
}
.Comments_accer_item:nth-child(3) {
  padding-left: 15%;
  border-bottom: 1px solid #617798;
}
.Write {
  border: none !important;
  margin-top: 40px;
}
.acdc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.acdc input {
  width: calc((100% / 3));
  margin-right: 20px;
  height: 48px;
  color: var(--Text-Text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;
  /*Paragraph/Paragraph2*/
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /*162.5%*/
  opacity: 0.7;
  border-radius: 5px;
  border: 1px solid var(--Lines-Gray-Line, #e7e5ea);
  background: var(--BG-BG-White, #fff);
  padding-left: 18px;
  -webkit-font-feature-settings: "clig" off, "liga" off;
  -moz-font-feature-settings: "clig" off, "liga" off;
}
.acdc input:nth-child(3) {
  margin-right: 0px;
}
.Enter_comment {
  width: 100%;
  height: 170px;
  flex-shrink: 0;
  color: var(--Text-Text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  border-radius: 5px;
  border: 1px solid var(--Lines-Gray-Line, #e7e5ea);
  background: var(--BG-BG-White, #fff);
  padding-top: 14px;
}
.submit1 {
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 5px;
  background: var(--Action-Blue, #4f77ff);
  display: flex;
  width: 140px;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.btn_blog {
  margin: 40px;
  display: flex;
  width: 140px;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  border-radius: 5px;
  background: var(--action-blue, #4f77ff);
  cursor: pointer;
  border: none;
}
.conter_search {
  width: 30%;
  height: 100%;
}
.search-blog {
  margin-bottom: 30px;
  border-radius: 5px;
  background: var(--bgbg-light, #f8fafc);
  padding: 30px;
}
.search-blog h4 {
  color: var(--text-heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 4 */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.4px;
  margin-bottom: 30px;
}
.input_text {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #e7e5ea);
  background: var(--bgbg-white, #fff);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 30px 30px 0px;
}
.input_text input {
  border: none;
  color: var(--text-text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 18px;
  width: 210px;
  outline: none;
  caret-color: #fff;
}
.icon_search {
  display: none;
}
.latest_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.latest_item img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 20px;
}
.latest_item .latest_p {
  color: var(--text-text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 3 */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
}
#mySelect {
  width: 210px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #e7e5ea);
  background: var(--bgbg-white, #fff);
  color: var(--text-text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 18px;
  outline: none;
  caret-color: #fff;
}
.span_log {
  width: 100%;
  height: 100%;
}
.span_log span {
  color: var(--text-text-white, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.3px;
  display: inline-flex;
  padding: 0px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--action-blue, #4f77ff);
  margin-right: 5px;
}
.back-gout {
  width: 100%;
  height: 100%;

  border-radius: 5px;
  opacity: 0.7;
  background: var(--text-dark-alt, #321370);
  padding: 128px 50px 128px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  opacity: 0.7;
}

.back-gout h3 {
  color: var(--text-text-white, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 3 */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  letter-spacing: -1px;
}

.Comments_accer_item {
  flex-direction: column;
}
.Comments_accer_item:nth-child(3) {
  padding-left: 0px;
  border-top: 1px solid #617798;
  padding-top: 20px;
}
/* form {
  flex-direction: column;
  margin-bottom: 20px;
} */
form input {
  width: 100%;
  margin-bottom: 20px;
}
form input:nth-child(3) {
  margin-right: 20px;
}
.Enter_comment {
}
.submit1 {
  margin-bottom: 0px;
}
h3.visit {
  font-size: 1rem;
}
h2.visit {
  width: 500px;
}
button.submit {
  display: flex;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  border-radius: 5px;
  background: var(--action-purple, #886cff);
  margin-top: 52px;
  cursor: pointer;
  border: none;
}
.homepage-shop {
  text-transform: uppercase;
}
.bg_visit {
  width: 100%;
  height: 100%;
  background-image: url(../ACSSET/img/blog/BG.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 108px 0 108px 0;
}
h3.visit {
  color: var(--Text-Text, #7b88a8);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 3 */
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  letter-spacing: -1px;
  width: 70%;
}
h2.visit {
  color: var(--Text-Heading, #2d3958);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display 3 */
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 116.667% */
  letter-spacing: -2px;
  width: 70%;
}
h2.visit span {
  color: var(--Action-Green, #34c635);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display 3 */
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -2px;
}
.bg_visit .supmit_sp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.bg_visit .supmit_sp input {
  border-radius: 5px;
  border: 1px solid var(--Lines-Gray-Line, #e7e5ea);
  background: var(--Text-Text-White, #fff);
  width: 235px;
  height: 48px;
  flex-shrink: 0;
  color: var(--Text-Text, #7b88a8);
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 18px;
}
.bg_visit .supmit_sp button {
  display: inline-flex;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  border-radius: 5px;
  background: var(--Action-Blue, #4f77ff);
  margin-left: 6px;
  border: none;
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .search-blog {
    width: 100%;
    padding: 10px;
  }
  .input_text {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .input_text input {
    flex-direction: column;
    padding: 10px 10px;
    width: 180px;
  }
  .icon_search {
    display: none;
  }

  .latest_item {
    flex-direction: column;
  }
  .latest_item .latest_p {
    margin-top: 10px;
  }
  #mySelect {
    width: 180px;
  }
  #footer {
    margin-top: 0px;
  }
  form {
    flex-direction: column;
    margin-bottom: 20px;
  }
  form input {
    width: 100%;
    margin-bottom: 20px;
  }
  form input:nth-child(3) {
    margin-right: 20px;
  }
  .acdc input {
    width: 100%;
    margin-right: 0;
  }
  .Related_Articles_list {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .Related_Articles {
    flex-direction: column;
  }
}
@media only screen and (max-width: 766px) {
  .conter_search {
    display: none;
  }
  h3.visit {
    font-size: 1rem;
  }
  .ul_blog {
    flex-direction: column;
  }
  .acdc {
    flex-direction: column;
  }
  .acdc input {
    width: 100%;
    margin-right: 0;
  }
  .Enter_comment {
    width: 100%;
  }
  .Related_Articles_list {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .Related_Articles {
    flex-direction: column;
  }
}
