#wapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
header {
  width: 100%;
  height: 100vh;
  background-color: #f7f5f1;
}
.page_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.page_header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_header .logo img {
  width: 32px;
  height: 44px;
  flex-shrink: 0;
  margin-right: 10px;
}
.page_header .logo h1 {
  color: #2d3958;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
}
.page_header ul.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header ul.menu li.menu_item {
  margin: 20px;
}
.page_header ul.menu li.menu_item a {
  color: var(--text-heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;

  /* Link */
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.page_header .search_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .search_header .search {
  margin-right: 1rem;
}
.page_header .search_header .button_head {
  display: flex;
  width: 129px;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4f77ff;
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: -0.01875rem;
  text-transform: uppercase;
}
footer {
  width: 100%;
  height: auto;
  background-color: #292f3a;
  padding-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_wapper {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7b88a8;
}
.footer_top a.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 31px;
}
.footer_top a.logo img {
  width: 32px;
  height: 44px;
  flex-shrink: 0;
  margin-right: 10px;
}
.footer_top a.logo h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
}
.footer_top ul.company_list {
  margin-right: 30px;
}
.footer_top ul li.company_item {
  margin-bottom: 10.2px;
}
.footer_top ul li.company_item:nth-child(1) {
  margin-bottom: 20px;
}
.footer_top ul li.company_item a {
  color: #e7e5ea;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.footer_top ul li.company_item:nth-child(1) a {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 3 */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  letter-spacing: -1px;
  padding-bottom: 20px;
}
.newsletter {
  width: 30%;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;

  /* Headline/Headline 3 */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  letter-spacing: -1px;
  margin-bottom: 80px;
}
.newsletter h3 {
  margin-bottom: 20px;
}
.newsletter p {
  color: #e7e5ea;
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 25px;
  margin-top: 20px;
}
.text_submit {
  display: flex;
}
.text_submit input {
  width: 235px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e7e5ea;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 18px;
  margin-right: 6px;
  border: none;
}
.text_submit .submit {
  display: flex;
  width: 129px;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4f77ff;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Link Small */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 27px;
}
.footer_bottom p {
  color: #e7e5ea;
  font-feature-settings: "clig" off, "liga" off;

  /* Paragraph/Paragraph 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.footer_bottom ul.media {
  display: flex;
}
.footer_bottom ul.media li {
  margin-right: 20px;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #4f77ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bottom ul.media li a img {
  width: 10px;
  height: 20px;
  flex-shrink: 0;
}
.footer_bottom ul.media li:nth-child(2) a img {
  width: 20px;
  height: 20px;
}
