:root {
  --actionyellow: rgba(249, 228, 146, 1);
  --actionpink: rgba(255, 192, 236, 1);
  --actionred: rgba(239, 55, 55, 1);
  --actionblue: rgba(79, 119, 255, 1);
  --actiongreen: rgba(52, 198, 53, 1);
  --actionorange: rgba(255, 149, 19, 1);
  --actionpurple: rgba(136, 108, 255, 1);
  --actiondark-blue: rgba(0, 28, 127, 1);
  --actionturquoise: rgba(97, 220, 223, 1);
  --textheading: rgba(45, 57, 88, 1);
  --textdark-alt: rgba(50, 19, 112, 1);
  --texttext: rgba(123, 136, 168, 1);
  --texttext-gray: rgba(231, 229, 234, 1);
  --texttext-white: rgba(255, 255, 255, 1);
  --bgbg-dark: rgba(18, 2, 47, 1);
  --bgbg-alt: rgba(50, 19, 112, 1);
  --bgbg-gray: rgba(41, 47, 58, 1);
  --bgbg-light: rgba(248, 250, 252, 1);
  --bgbg-light-alt: rgba(247, 245, 241, 1);
  --bgbg-white: rgba(255, 255, 255, 1);
  --lineshr-line: rgba(97, 119, 152, 0.2);
  --linesgray-line: rgba(231, 229, 234, 1);
  --link-font-family: "Outfit-Medium", Helvetica;
  --link-font-weight: 500;
  --link-font-size: 15px;
  --link-letter-spacing: -0.30000001192092896px;
  --link-line-height: 24px;
  --link-font-style: normal;
  --link-small-font-family: "Outfit-Medium", Helvetica;
  --link-small-font-weight: 500;
  --link-small-font-size: 14px;
  --link-small-letter-spacing: -0.30000001192092896px;
  --link-small-line-height: 24px;
  --link-small-font-style: normal;
  --paragraph-paragraph-1-font-family: "DMSans-Regular", Helvetica;
  --paragraph-paragraph-1-font-weight: 400;
  --paragraph-paragraph-1-font-size: 18px;
  --paragraph-paragraph-1-letter-spacing: -0.30000001192092896px;
  --paragraph-paragraph-1-line-height: 28px;
  --paragraph-paragraph-1-font-style: normal;
  --paragraph-paragraph-2-font-family: "DMSans-Regular", Helvetica;
  --paragraph-paragraph-2-font-weight: 400;
  --paragraph-paragraph-2-font-size: 16px;
  --paragraph-paragraph-2-letter-spacing: 0px;
  --paragraph-paragraph-2-line-height: 26px;
  --paragraph-paragraph-2-font-style: normal;
  --paragraph-paragraph-3-font-family: "DMSans-Regular", Helvetica;
  --paragraph-paragraph-3-font-weight: 400;
  --paragraph-paragraph-3-font-size: 14px;
  --paragraph-paragraph-3-letter-spacing: -0.30000001192092896px;
  --paragraph-paragraph-3-line-height: 24px;
  --paragraph-paragraph-3-font-style: normal;
  --display-display-1-font-family: "Outfit-Medium", Helvetica;
  --display-display-1-font-weight: 500;
  --display-display-1-font-size: 72px;
  --display-display-1-letter-spacing: -2px;
  --display-display-1-line-height: 78px;
  --display-display-1-font-style: normal;
  --display-display-2-font-family: "Outfit-Medium", Helvetica;
  --display-display-2-font-weight: 500;
  --display-display-2-font-size: 64px;
  --display-display-2-letter-spacing: -2px;
  --display-display-2-line-height: 72px;
  --display-display-2-font-style: normal;
  --display-display-3-font-family: "Outfit-Medium", Helvetica;
  --display-display-3-font-weight: 500;
  --display-display-3-font-size: 48px;
  --display-display-3-letter-spacing: -2px;
  --display-display-3-line-height: 56px;
  --display-display-3-font-style: normal;
  --headline-headline-1-font-family: "Outfit-Medium", Helvetica;
  --headline-headline-1-font-weight: 500;
  --headline-headline-1-font-size: 42px;
  --headline-headline-1-letter-spacing: -0.84px;
  --headline-headline-1-line-height: 50px;
  --headline-headline-1-font-style: normal;
  --headline-headline-2-font-family: "Outfit-Medium", Helvetica;
  --headline-headline-2-font-weight: 500;
  --headline-headline-2-font-size: 36px;
  --headline-headline-2-letter-spacing: -1px;
  --headline-headline-2-line-height: 46px;
  --headline-headline-2-font-style: normal;
  --headline-headline-3-font-family: "Outfit-Regular", Helvetica;
  --headline-headline-3-font-weight: 400;
  --headline-headline-3-font-size: 22px;
  --headline-headline-3-letter-spacing: -1px;
  --headline-headline-3-line-height: 32px;
  --headline-headline-3-font-style: normal;
  --headline-headline-4-font-family: "Outfit-Medium", Helvetica;
  --headline-headline-4-font-weight: 500;
  --headline-headline-4-font-size: 18px;
  --headline-headline-4-letter-spacing: 0.4000000059604645px;
  --headline-headline-4-line-height: 28px;
  --headline-headline-4-font-style: normal;
  --headline-headline-5-font-family: "Outfit-Medium", Helvetica;
  --headline-headline-5-font-weight: 500;
  --headline-headline-5-font-size: 16px;
  --headline-headline-5-letter-spacing: 0.4000000059604645px;
  --headline-headline-5-line-height: 26px;
  --headline-headline-5-font-style: normal;
  --headline-headline-6-font-family: "Outfit-Medium", Helvetica;
  --headline-headline-6-font-weight: 500;
  --headline-headline-6-font-size: 14px;
  --headline-headline-6-letter-spacing: 0.4000000059604645px;
  --headline-headline-6-line-height: 24px;
  --headline-headline-6-font-style: normal;
  --blue-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  --main-shadow: 0px 5px 20px 0px rgba(18, 2, 47, 0.15);
  --yellow-shadow: 0px 20px 40px 0px rgba(255, 201, 71, 0.15);
  --big-shadow: 0px 60px 40px 0px rgba(18, 2, 47, 0.1);
}
